// Products

.products {
    padding-bottom: 24px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    margin-top: 15px;
}

.loader-main-products {
    position: relative;
    top: 50px;
    left: 47%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid var(--primary-color-orange);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.not-product {
    font-size: 1.3rem;
    margin-left: 18px;
    margin-top: 4px;
    color: var(--gray-color);
    font-weight: 500;
}

.product-discount {
    position: absolute;
    height: 20px;
    line-height: 20px;
    top: 8px;
    left: 25px;
    color: var(--text-white);
    font-size: 1.1rem;
    font-weight: normal;
    background-color: #ef683a;
    padding: 0 6px;
    text-align: center;
    font-weight: 500;
}

.product-new,
.product-quantity-sold {
    position: absolute;
    height: 20px;
    line-height: 20px;
    top: 8px;
    right: 25px;
    color: var(--text-white);
    font-size: 1.1rem;
    font-weight: normal;
    background-color: #ef683a;
    padding: 0px 6px;
    text-align: center;
    font-weight: 500;
}


.products__img {
    height: 70%;

    &-child {
        height: 100%;
        width: 100%;
        vertical-align: middle;
    }

    &:hover~.products__content {
        background-color: #f8f8f8;
    }
}


.products__content {
    padding: 0 8px 6px;

    &:hover {
        background-color: #f8f8f8;
    }

    & .product-content__name {
        line-height: 1.6rem;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        color: #000;
        font-size: 1.4rem;
        margin: 12px 0;
        font-weight: 500;
    }

}

.products__title {
    width: 100%;
    display: block;
    font-size: 2.8rem;
    font-weight: 700;
    margin: 40px 0;
}

.product-content__price {
    display: flex;
    padding-top: 4px;


    & span.cart__total-price-vnd {
        position: absolute;
        top: 0.5px;
        right: -8.2px;
        font-size: 1.05rem;
    }

    & .product__price-new {
        color: #f94c43;
        position: relative;
        font-weight: 500;
        margin-right: 23px;
        // letter-spacing: 1px;
        font-size: 1.3rem;
    }
}

span.product__price-old {
    &.item-product__price-old {
        margin-right: 8px;
        display: block;
        font-size: 1.2rem;
        letter-spacing: 1px;
        position: relative;
        color: var(--gray-color);
        font-weight: 400;

        &::after {
            width: calc(100% + 8px);
            height: 0.5px;
            content: "";
            position: absolute;
            top: 50%;
            border-collapse: collapse;
            transform: translate(0, -50%);
            right: -8px;
            background-color: var(--gray-color);
        }

        & span.cart__total-price-vnd {
            position: absolute;
            top: 0.5px;
            right: -8.2px;
            font-size: 1.05rem;
        }
    }
}



.product__content-review {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .product__content-star {
        & i {
            color: #f94c43;
            font-size: 1.3rem;
        }

        & .quantity-review {
            font-size: 1.25rem;
            color: #000;
            font-weight: var(--gray-color);
        }
    }

    & .product-content__sold-quantity {
        font-size: 1.3rem;
        color: var(--gray-color);
        font-weight: 500;
        padding: 8px 0;
        display: block;
    }
}



// Filter

.filter {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    user-select: none;

    &__heading {
        display: flex;
        align-items: center;
        position: relative;

        & i {
            color: #909097;
            font-size: 16px;
            margin-right: 4px;
        }

        &::after {
            position: absolute;
            content: '';
            top: 50%;
            right: -32%;
            transform: translate(0, -50%);
            height: 40%;
            width: 2px;
            background-color: #e7e7e7;
        }
    }

    &__name {
        font-weight: 700;
        font-size: 1.6rem;
    }

    &__category {
        & .category-icon {
            font-size: 1.2rem;
        }

        &:hover .filter-lists {
            display: block;
        }
    }

    &__prices {
        &:hover .filter-lists {
            display: block;
        }
    }

    &__category,
    &__prices,
    & .filter-sort {
        text-transform: uppercase;
        width: 225px;
        border: 1px solid #e7e7e7;
        font-size: 1.35rem;
        font-weight: 700;
        color: var(--gray-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 14px;
        position: relative;
    }

}




.filter-sort {
    outline: none;

    /* arrow */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("https://nika.agency/dist/img/angle-shape-mobile.png");
    background-repeat: no-repeat;
    background-position: right 1.3rem top 50%;
    background-size: 1.2rem auto;

    & option {
        font-size: 1.35rem;
        font-weight: 500;
        color: var(--gray-color);
        border: none;
        margin-bottom: 6px;
    }

}


.filter-lists {
    background-color: var(--text-white);
    width: calc(100% + 1.9px);
    position: absolute;
    top: 49px;
    left: -0.7px;
    z-index: 1;
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-top: 0 solid transparent;
    padding: 8px 0;
    display: none;

    & .filter__item {
        padding: 8px 0;
        font-size: 1.3rem;
        font-weight: 500;
        text-transform: capitalize;
        display: flex;

        &-label {
            transition: all linear 0.25s;
            display: inline-block;
            position: relative;
            font-size: 1.25rem;
            font-weight: 500;


            &:hover .filter__item-input-pseudo {
                border: 1px solid #000;
            }

            & .filter__item-input-pseudo {
                transition: all linear 0.25s;
            }
        }
    }

    &__heading {
        height: 100%;
    }

}



.filter__item-input {
    opacity: 0;

    &-pseudo {
        position: relative;
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 1px solid var(--border-color);
        border-radius: 2px;
        top: 3px;
        margin-right: 8px;

        & .cart__total-price-vnd.filter-aligment {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &:checked~.filter__item-label .filter__item-input-pseudo::after {
        content: "\2714";
        position: absolute;
        font-size: 11px;
        top: -2px;
        right: 1px;
        color: #000;
    }
}





.sort-icon {
    transform: rotate(90deg);
    color: #bababa;
}

.filter-values {
    width: 100%;
    height: 32px;
    line-height: 32px;
    display: block;
    margin-bottom: 16px;
    margin-left: 16px;

    & strong {
        font-size: 1.2rem;
        border: 1px solid #e7e7e7;
        padding: 4px 14px;
        border-radius: 15px;
        color: #5d5d5d;
        min-width: 40px;
        cursor: pointer;
        margin-right: 16px;

        & .filter-values__icon {
            color: #747474;
            margin-left: 16px;
        }
    }
}


.remove-all {
    font-size: 1.25rem;
    color: var(--primary-color-blue);
    text-decoration: underline;
    margin-right: 32px;
    cursor: pointer;
}