.chart {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .chartTitle {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--gray-color);

    &.active {
      color: #bcbcbc;
    }
  }

  & .recharts-default-legend {
    padding: 0px !important;
    margin: 0px !important;
    text-align: center !important;
    display: inline-block !important;
    position: absolute !important;
    left: 62% !important;
    transform: translateX(-62%) !important;
  }

}