.chat {
    background-color: var(--primary-color-blue);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--primary-color-blue);
    position: fixed;
    bottom: 50px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear 0.5s;
    box-shadow: 1px 0px 15px rgb(0 0 0 / 50%);
    animation: FadeIn linear 0.25s;
}



