.policy-warranty__heading {
    width: 100%;
    display: block;
    font-size: 2.8rem;
    font-weight: 700;
    margin: 30px 0;
}

.policy-warranty span {
    font-weight: 500;
    display: inline-block;
}
.policy-warranty span.inline {
    display: inline;
}

.policy-warranty span, 
.policy-warranty strong {
    color: #000;
    line-height: 1.8rem;
    font-size: 1.3rem;
}

.policy-warranty__content > span{
    display: inline-block;
}

.policy-warranty .warranty__content-item span.color-gray {
    color: var(--gray-color);
}

.policy-warranty .warranty__content-item span.color-gray.font-bold {
    font-weight: 600;
}