.user-address {
    width: 480px;
    max-width: 600px;
}

.loader-account {
    position: relative;
    top: 43px;
    left: 18%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid var(--primary-color-orange);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

#form-account {
    &.user-address {
        margin-top: 24px;
        width: 480px;
        max-width: 600px;
    }
}

form#form-account {
    &\ user-address {
        margin-top: 10px;
    }

    &\ user-address button {
        margin-top: 2px;
        cursor: pointer;
    }
}


.form-group {
    &.user-address {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &>input {
            background-color: #fff;
            border: 1px solid var(--border-color);
            width: 100% !important;
        }
    }
}


.user-address__heading-main span {
    font-size: 1.2rem;
    color: #000;
    font-weight: 500;
    line-height: 28px;
}

.form-group.user-address>i {
    color: #dad9d9;
}


.user-address__heading {
    padding: 7px 70px 7px 12px;
    background-color: #d9edf7;
    border-color: #bce8f1;
    position: relative;

    &-main {
        & span {
            font-size: 1.2rem;
            color: #000;
            font-weight: 500;
            line-height: 28px;
        }
    }
}

.user-address__name {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.8rem;
    display: inline-block;
}

.form-group__icon {
    width: 53px;
    height: 45px;
    text-align: center;
    line-height: 41px;
    background-color: #ebebeb;
    position: relative;
    top: -2px;
}


.user-address__wrapper {
    margin-top: 8px;

    & .user-address__info {
        display: flex;
        margin-top: 8px;

        & .user-address__address-name,
        & .user-address__phone {
            width: 37%;
            float: left;
        }

        & .user-address__address,
        & .user-address__phone-number {
            width: 50%;
        }
    }

}


.user-address__icon {
    padding: 0 26px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 20%;
    display: flex;
    justify-content: space-between;
    color: var(--gray-color);
    cursor: pointer;

    & .user-address__edit-icon,
    & .user-address__times-icon {
        font-size: 1.35rem;
        padding: 0 4px;
        display: block;
    }

    & .user-address__times-icon {
        font-size: 1.6rem;
    }
}



.user-address__contents {
    background-color: #fafafa;
    padding: 14px 24px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--gray-color);
}





.btn.acount-btn.cancel {
    background-color: #fff;
    border: 1px solid var(--gray-color);
    color: var(--gray-color);
    margin-left: 8px;
}