.sidebar {
  flex: 1;
  height: calc(100vh - 80px);
  background-color: var(--dark);
  position: sticky;
  top: 50px;
  display: inline;

  &__wrapper {
    padding: 20px;
    color: #555;
  }

  &__menu {
    margin-bottom: 10px;
  }

  &__title {
    font-size: 1.5rem;
    color: var(--light);
    font-weight: 900;
  }

  &__list {
    list-style: none;
    padding: 5px;

    &-item {
      padding: 8px;
      cursor: pointer;
      border-radius: 10px;
      color: var(--light);
      font-size: 1.3rem;
      font-weight: 500;
      display: flex;

      &.active{
        background-color: rgb(240, 240, 255);
        color: var(--gray-color);
      }

      & a {
        color: currentColor;
        display: flex;
        align-items: center;
      }
    }
  }

  &.sidebar-icon {
    margin-right: 5px;
    font-size: 20px !important;
  }
}