.account {}

.account__title {
    font-size: 3.5rem;
    font-weight: 700;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    position: relative;
    margin-bottom: 45px;
    letter-spacing: 1px;
}

.account__title::after {
    content: '';
    position: absolute;
    bottom: 36px;
    width: 60px;
    height: 4px;
    background-color: #000;
}

.account__heading-body {
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}

.account__body-lists {

}

.account__body-item {

}


.account__heading-body.account__heading-body--gray {
    color: var(--gray-color);
    font-size: 1.5rem;
    font-weight: 700;
}

.account__body-lists .account__body-item > a{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--gray-color);
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 3px 0;
}

.account__body-lists .account__body-item > i {
    margin-right: 7px;
    font-size: 0.8rem;
    color: var(--gray-color);
}

#form-account .form-group {
    display: flex;
    align-items: center;
} 

/* #form-account .form-group.user-address {
    
}  */

input#form-account__email,
input#form-account__fullname,
input#form-account__birthday,
input#form-account__address,
input#form-account__phone-number {
    width: 50%;
    height: 45px;
    color: #000;
}

#form-account .form-group label[for="form-account__email"],
#form-account .form-group label[for="form-account__fullname"],
#form-account .form-group label[for="form-account__birthday"],
#form-account .form-group label[for="form-account__address"],
#form-account .form-group label[for="form-account__phone-number"] {
    display: block;
    color: #000 !important;
    text-align: left;
    font-size: 1.3rem;
    padding-left: 0px !important;
    margin-bottom: 0px !important;
    font-weight: initial;
    width: 120px;
    float: left;
    line-height: 38px;
    font-weight: 500;
}

.acount-btn {
    background-color: var(--gray-color);
    padding: 10px 26px;
    text-transform: uppercase;
    color: var(--text-white);
}


.warraper-products-bought {
    margin: 70px 0 30px 0;
    border: 12px solid #f7f7f7;
}

.products-bought {
    font-size: 1.3rem;
    padding: 20px;
}

.products-bought__not {
    font-size: 1.35rem;
    color: var(--gray-color);
    font-weight: 500;
    display: block;
}


.warraper-products-bought .checkout__cart-lists {
    padding: 15px 0;
    border-bottom: 1px solid transparent;
    max-height: 300px;
    overflow-y: scroll;
    cursor: pointer;
}
.warraper-products-bought  span.products-bought__heading {
    padding: 26px 20px 25px 20px;
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    color: #677279;
    text-transform: uppercase;
    border-bottom: 1px solid var(--border-color);
}

.warraper-products-bought .checkout__cart-lists::-webkit-scrollbar{
    width: 5px;
}
.warraper-products-bought .checkout__cart-lists::-webkit-scrollbar-track{
}
.warraper-products-bought .checkout__cart-lists::-webkit-scrollbar-thumb{
    height: 80%;
    background-color: #787878;
    border-radius: 20px;
}

.warraper-products-bought .products-bought .checkout__cart-lists li.checkout__cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.checkout__cart-item  {
    padding: 8px 0 15px 0;
    border-bottom: 1px solid var(--border-color);
}


.warraper-products-bought .checkout__cart-lists.border-last-child .checkout__cart-item:last-of-type {
    border-bottom: 1px solid transparent;
    margin-bottom: 0;
    padding-bottom: 2px;
}



#form-account__avatar{
    color: transparent;
    width: 28%;
    position: relative;
    right: -80px;
    top: 0;
    padding: 20px 0;
}


#form-account__avatar::-webkit-file-upload-button {
    cursor: pointer;
}

.account__info-avata {
    width: 250px;
    height: 250px;
    border-radius: 12px;
    background-color: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
}
.account__info-avata.have-avatar{
    width: 250px;
    height: 250px;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
}

.account__info-avata.have-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.account__info-avata i {
    color: #fff;
    font-size: 80px;
}
