.discount-home {
    display: flex;
    flex-wrap: wrap;
}

.discount-home .products__title.px--16.discount-home__heading,
.best-seller-products-home .products__title.px--16.best-seller-products-home__heading,
.collection-home .products__title.px--16.collection-home__heading,
.decoration-home .products__title.px--16.decoration-home__heading {
    font-size: 2.45rem;
    font-weight: 500;
}

.discount-home {
    position: relative !important;
}

.discount-home .slider__prev i,
.discount-home .slider__next i {
    color: #fff;
    font-size: 1.4rem;
}

.discount-home .slider__prev,
.discount-home .slider__next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ee693b;
    border: 1px solid #b9b9b9;
    text-align: center;
    line-height: 43px;
    cursor: pointer;
    display: none;
    z-index: 9;
}

.discount-home .slider__prev {
    position: absolute;
    top: 46%;
    left: 42px;
    animation: FadeInToLeft ease-out 0.25s;
}

.discount-home .slider__next {
    animation: FadeInToRight ease-out 0.25s;
    position: absolute;
    top: 46%;
    right: 42px;
}

.discount-home:hover .slider__prev {
    display: block;
}

.discount-home:hover .slider__next {
    display: block;
}

.best-seller-products-home {
    display: flex;
    flex-wrap: wrap;
}

.collection-home,
.decoration-home {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    max-width: 100%;
}

.collection-home__left,
.collection-home__right {
    padding: 0 15px;
}


.collection-home__right__wrapper {
    display: flex;
}

.collection-home__right__wrapper li:last-of-type {
    position: relative;
    top: 0;
    right: -32px;
}


.seen-more {
    width: 9.5%;
    text-align: center;
    color: var(--primary-color-orange);
    font-size: 1.35rem;
    font-weight: 500;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}