.product-detail {
    margin-top: 30px;

    & .loader-products {
        position: relative;
        top: 40px;
        left: 47%;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        border-top: 4px solid var(--primary-color-orange);
        border-right: 3px solid transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    &__img {
        display: flex;
        cursor: pointer;

        & .product-detail__img-group {
            width: 8%;

            & div {
                margin-bottom: 12px;
            }

            & .product-detail__img-content {
                border: 1px solid #f7f7f8;
                width: 100%;

                &:hover {
                    border: 1px solid #a3a5a7;
                }

                &.active {
                    border: 1px solid #808284;
                }

                & img {
                    width: 100%;
                    vertical-align: middle;
                }
            }
        }

        & .product-detail__img-single {
            width: 86%;
            padding-left: 20px;
            position: relative;

            & img {
                width: 100%;
            }

            & .product-detail__best-seller {
                position: absolute;
                top: 16px;
                right: 16px;
                color: var(--text-white);
                background-color: var(--primary-color-orange);
                padding: 0 6px;
                font-size: 1rem;
                height: 20px;
                line-height: 20px;
                text-transform: uppercase;
            }
        }
    }

    & .product-detail__content {

        & .product-detail__prices {
            padding: 20px 0;
            letter-spacing: 0.15rem;
            border-bottom: 1px dotted #dfe0e1;

            &-new {
                position: relative;
                color: var(--primary-color-orange);
                font-size: 1.5rem;
                font-weight: 600;
                display: inline-block;
            }

            &-old {
                position: relative;
                color: #aaa2a2;
                font-size: 1.4rem;
                font-weight: 500;
                display: inline-block;
                margin-left: 22px;
                text-decoration: line-through;
            }

            & span {
                &.VND {
                    position: absolute;
                    font-size: 1.35rem;
                    top: -1px;
                    right: -10px;
                }
            }

            & .product-detail__discount {
                display: inline-block;
                padding: 8px 12px;
                margin-right: 10px;
                background: #ededed;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 15px;
                color: #f94c43;
            }
        }

        & .product-detail__heading {
            border-bottom: 1px dotted #dfe0e1;
            padding-bottom: 20px;
        }

        & .product-detail__name {
            font-size: 1.9rem;
            font-weight: 700;
            margin: 0px 0 5px;
        }

        & .product-detail__overview {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .product-detail__content-review {
                display: inline;

                & i {
                    font-size: 1.4rem;
                    color: var(--primary-color-orange);
                }

                & span {
                    font-size: 1.3rem;
                    color: var(--gray-color);
                    font-weight: 500;
                }
            }

            & .product-detail__content-share {
                display: flex;
                align-items: center;
                font-size: 1.25rem;
                color: var(--gray-color);
                font-weight: 500;

                & img {
                    width: 21px;
                }
            }

            & .product-detail__content-quantity {
                font-size: 1.2rem;
                color: var(--gray-color);
                font-weight: 500;
                margin-right: 2px;
            }


        }

        & .product-detail__desc {
            padding-top: 14px;
            line-height: 1.6rem;

            & .product-detail__desc-size,
            & .product-detail__desc-material,
            & .product-detail__desc-standard,
            & .product-detail__desc span {
                font-size: 1.25rem;
                color: #000;
                text-align: left;
                font-weight: 500;
            }

            & .product-detail__desc-size,
            & .product-detail__desc-material {

                & strong {
                    font-size: 1.3rem;
                    color: var(--gray-color);
                }
            }

            & .product-detail__desc-standard {
                margin: 12px 0;
                font-style: italic;
            }

            & .product-detail__desc-material {
                margin: 10px 0;

                & span {
                    display: block;
                    margin-top: 12px;
                }
            }

        }

        & .product-detail__quantity {
            margin: 6px 0;

            & input {
                width: 20%;
                background-color: #fff;
                font-weight: 600;
                height: 32px;
                text-align: center;
                border: 1px solid #f5f5f5;
                border-radius: 1px;
                -webkit-appearance: none;
                outline: none;
            }

            & i {
                background-color: #f5f5f5;
                border: solid 1px #f5f5f5;
                cursor: pointer;
                font-weight: 700;
                font-size: 1.2rem;
                outline: none;
                height: 30px;
                line-height: 30px;
                width: 30px;
                text-align: center;
            }
        }

        & .product-detail__btn {
            padding: 20px 0;

            & .btn.product-detail__btn-add-cart {
                display: block;
                width: 100%;
                margin-bottom: 12px;
                padding: 14px 0;
                font-weight: bold;
                text-transform: uppercase;
                color: var(--text-white);

                &.btn--color-prima-blue {
                    background-color: var(--primary-color-blue);
                    height: 44px;
                    line-height: 90%;

                    &:hover {
                        color: var(--gray-color);
                        background-color: #fff;
                        border: 1px solid var(--primary-color-blue);
                        transition: all ease-out 0.25s;
                        font-weight: 600;

                    }
                }

                &.btn--color-prima-orange {
                    background-color: var(--primary-color-orange);
                    height: 44px;
                    line-height: 90%;

                    &:hover {
                        color: var(--gray-color);
                        background-color: #fff;
                        border: 1px solid var(--primary-color-orange);
                        transition: all ease-out 0.25s;
                        font-weight: 600;
                    }

                }
            }
        }

        & .product-detail__info-promotion {
            & span {
                display: block;
                font-size: 1.25rem;
                font-weight: 500;
                color: var(--gray-color);
                margin-bottom: 12px;
                line-height: 1.8rem;

                & i {
                    font-size: 1.5rem;
                    color: var(--gray-color);
                    margin-right: 4px;
                }
            }
        }

    }
}