.header {
    height: var(--height-header);
    border-bottom: 1px solid var(--border-color);
    text-decoration: none;

    &__delivery-policy {
        height: 32px;
        background-color: var(--primary-color-blue);
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 16px;
        display: block;
        text-align: center;
        padding: 8px 0;
        color: var(--text-white);

        & span {
            font-size: 1.15rem;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 88px;
        padding: 12px 0;
        cursor: pointer;

        & .menu-account {
            display: flex;
            position: relative;
            cursor: pointer;

            & .full-name-accout {
                font-weight: 600;
            }

            & .menu-account__icon {
                display: flex;
                align-items: center;
                margin-right: 6px;

                & i {
                    font-size: 2.4rem;
                }
            }

            & .menu-account__title {
                font-weight: 500;
                font-size: 1.35rem;

                & .menu-account__your-account {
                    display: flex;
                    align-items: flex-end;

                    & i {
                        font-size: 1.2rem;
                        color: var(--gray-color);
                        margin: 0 0 2px 4px;
                    }


                }
            }

        }

        & .header-search {
            width: 32%;
            height: 42px;
            margin-right: 4px;
            position: relative;


            & .header-search__input {
                width: 92%;
                height: 100%;
                color: var(--gray-color);
                padding: 8px 14px;
                padding-left: 16px;
                font-size: 1.24rem;
                line-height: 100%;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                border: 1px solid var(--border-color-fade);
                outline: none;
                transition: all 0.2s linear;

                &:focus {
                    border: 1px solid #000;
                }
            }

            & .btn-search {
                padding: 0 16px;
                cursor: pointer;
                color: var(--text-white);
                background-color: var(--gray-color);
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                height: 42px;
                position: absolute;
                border: none;

                & i {
                    font-size: 1.6rem;
                    text-align: center;
                }
            }

            & .list-searchs {
                position: absolute;
                top: 42px;
                right: -16px;
                width: calc(100% + 16px);
                max-height: 270px;
                overflow-y: scroll;
                background-color: #fff;
                box-shadow: 0 7px 11px rgba(0, 0, 0, 0.2);
                z-index: 9;
                animation: FadeIn linear 0.4s;

                &::-webkit-scrollbar {
                    width: 2px;
                }

                &::-webkit-scrollbar-thumb {
                    height: 80%;
                    background-color: #787878;
                    border-radius: 20px;
                }

                &__heading {
                    margin: 8px 0;
                    padding: 16px 0 13px 12px;
                    font-size: 1.35rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #677279;
                    border-bottom: 1px solid var(--border-color);
                }

                & .item-search {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;
                    border-bottom: 1px dotted #e3e5ec;
                    color: var(--gray-color);

                    & span {
                        &.VND {
                            position: absolute;
                            top: -1.5px;
                            right: -8px;
                            font-weight: 500;
                            font-size: 1rem;
                        }
                    }

                    &:hover a {
                        color: #000;
                    }

                    & a {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        color: var(--gray-color);
                    }

                    &__content {
                        width: 80%;
                    }

                    &__name {
                        text-transform: uppercase;
                        font-size: 1.05rem;
                        margin-bottom: 8px;
                    }

                    &__prices {
                        font-weight: 600;
                        letter-spacing: 1px;
                        position: relative;
                        font-size: 1.1rem;
                    }

                    & .item-search_img {
                        & img {
                            width: 40px;
                            height: auto;
                        }
                    }
                }
            }
        }

        & .locale-language {
            display: flex;
            align-items: center;
            flex-direction: column;

            & img {
                display: none;

                &.active {
                    display: block;
                }
            }
        }


        & .moho-cart {
            position: relative;
            display: flex;
            align-items: center;

            & .moho-cart__title {
                font-size: 1.38rem;
                font-weight: 500;
                margin: 2px 0 0 10px;
            }

            & .quanlity-product {
                height: 18px;
                width: 18px;
                text-align: center;
                line-height: 18px;
                border-radius: 50%;
                font-size: 1.1rem;
                font-weight: 600;
                background-color: var(--primary-color-orange);
                position: absolute;
                top: -2px;
                left: 11px;
                color: var(--text-white);
            }


        }

    }

    &__name {
        font-size: 6rem;
        font-weight: 800;

        & a {
            color: var(--primary-color-blue);
        }

        & i {
            font-size: 1.8rem;
            color: var(--primary-color-orange);
        }
    }
}


/* User Infomation */
.userInfo {
    position: absolute;
    top: 46px;
    right: 0;
    min-width: 240px;
    padding: 16px 16px 8px 16px;
    background-color: var(--text-white);
    box-shadow: 0.1px 0.3px 6px rgba(0, 0, 0, 0.25);
    animation: FadeIn linear 0.4s;
    -webkit-animation: FadeIn linear 0.4s;
    -moz-animation: FadeIn linear 0.4s;
    -o-animation: FadeIn linear 0.4s;
    will-change: opacity;
    z-index: 2;

    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: -0.5em;
        top: 2.5px;
        right: 35px;
        box-sizing: border-box;
        border: 0.8em solid transparent;
        border-color: transparent transparent #fff #fff;
        transform-origin: 0 0;
        transform: rotate(135deg);
        box-shadow: -3px 2px 4px 0 rgb(0, 0, 0, 0.15);
    }

    &__title {
        padding-bottom: 10px;
        font-size: 1.45rem;
        font-weight: 500;
        text-transform: uppercase;
        border-bottom: 1px solid var(--border-color);
        text-align: center;
    }

    &__list-options {
        padding-left: 15px;
        padding-top: 15px;

        & .userInfo__item-option {
            margin-bottom: 5.5px;

            & .userInfo__item-link {
                color: #677279;
                font-size: 1.4rem;
            }
        }
    }
}

.admin {
    display: flex;
    align-items: center;

    & .admin__img {
        width: 38px;
        height: auto;
        margin-right: -2px;
    }

    & .admin__title {
        font-size: 1.35rem;
        color: #000;
        font-weight: 600;
        text-decoration: none;
    }

}