.newUser {
  flex: 4;
  padding: 0 20px;


  & .newUserForm {
    display: flex;
    flex-wrap: wrap;
  }

  & .newUserTitle {
    display: inline-block;
        font-size: 1.9rem;
        color: var(--gray-color);
        font-weight: 800;
  }


  & .newUserItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
  }

  & label {
    margin-bottom: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(151, 150, 150);
  }

  & input {
    height: 20px;
    padding: 20px;
    border: 1.5px solid var(--border-color);
    border-radius: 5px;
    outline: none;
    transition: all ease-out 0.25s;
  }

  & input:focus {
    box-shadow: 0 0 0 2px #338dbc !important;
  }


  & input[type="file"] {
    outline: none !important;
    border: none !important;
    color: #fff !important;
  }

  & input[type="file"]:focus {
    box-shadow: 0 0 0 2px #fff !important;
    width: 30%;
  }

  & input[type="file"]::-webkit-file-upload-button {
    border: 1px solid var(--border-color);
    cursor: pointer;
    font-size: 1.3rem;
    color: gray;
    font-weight: 700;
  }

  & .newUserGender>input {
    margin-top: 15px;
  }

  & .newUserGender>label {
    margin: 10px;
    font-size: 1.8rem;
    color: #555;
  }

  & .newUserSelect {
    height: 40px;
    border-radius: 5px;
  }

  & .newUserButton {
    width: 200px;
    border: none;
    outline: none;
    background-color: var(--primary-color-blue);
    color: white;
    padding: 7px 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
  }
}