.goto-top {
    -webkit-animation: FadeIn .2s linear;
    animation: FadeIn .2s linear;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    bottom: 22px;
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 60px;
    position: fixed;
    left: 22px;
    width: 60px;

    &__icon {
        color: var(--gray-color);
        font-size: 27px;
    }
}