.widget-sm {
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-right: 20px;

    &.active {
        border: 1px solid var(--border-btn);
        border-radius: 14px;
    }

    &__title {
        font-size: 22px;
        font-weight: 600;

        &.active {
            color: #bcbcbc;
        }
    }

    &__img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid var(--border-color);
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        &-item {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 20px 0px;
        }
    }

    &__user {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 15px;

        &.active {

            & .widget-sm__user-name {
                font-size: 1.25rem;
                color: var(--gray-color);
                font-weight: 600;
                opacity: 0.9;
                min-width: 130px;
                filter: brightness(3.8);
            }

            & .widget-sm__user-title {
                color: var(--border-btn);
            }
        }
    }

    &__user-name {
        font-size: 1.25rem;
        color: var(--gray-color);
        font-weight: 600;
        opacity: 0.9;
        min-width: 130px;
    }

    &__user-title {
        font-weight: 500;
        font-size: 1.15rem;
        opacity: 0.7;
    }

    &__button {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 10px;
        padding: 7px 10px;
        background-color: #eeeef7;
        color: #555;
        cursor: pointer;
        position: relative;


        &::after {
            content: "";
            position: absolute;
            width: 15px;
            height: 2px;
            transform: rotate(-45deg);
            background-color: #555555;
            top: 14px;
            left: 10px;
        }

        &.active {
            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                transform: rotate(-45deg);
                background-color: #555555;
                top: 14px;
                left: 10px;
            }
        }
    }

    &__icon {
        font-size: 16px !important;
        margin-right: 5px;
    }
}