.footer{
    background-color: #f8f8f8;
    max-height: 720px;
}

.footer__title{
    font-size: 1.55rem;
    font-weight: 700;
    color: #312a2a;
    margin-top: 6px;
}

.footer__content {
    text-align: justify;
}

.footer__content p{
    color: var(--gray-color);
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.footer-item__link {
    text-decoration: none;
    color: var(--gray-color);
    outline: none;
    list-style: none;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
}

.footer__logo .footer__logo-link .logo-bct {
    width: 185px;
    margin-bottom: 10px;
}

.footer__logo-img img{
    width: 100%;
}

.footer__item{
    font-size: 14.5px;
    color: var(--gray-color);
    list-style: none;
}
.footer__item-icon{
    left: 0;

}
.footer__item-child {
    margin-bottom: 12px;
}

.address-icon{
    margin-right: 14px;
    font-size: 13px;
    margin-top: 4.5px;
}

.phonenumber-icon {
    margin-right: 10px;
    font-size: 12px;
    margin-top: 4.5px;
}

.email-icon {
    font-size: 1.5rem;
    margin-right: 8px;
    margin-top: 4.5px;
}

.footer__lists.contact .footer__item.address,
.footer__lists.contact .footer__item.cskh,
.footer__lists.contact .footer__item.orther{
    display: flex;
}

.footer__lists.contact .footer__item.address .footer__item-child,
.footer__lists.contact .footer__item.cskh .footer__item-child,
.footer__lists.contact .footer__item.orther .footer__item-child {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--gray-color);
}

.footer__list-img{
    width: 340px;
    height: 130px;
    cursor: pointer;
}
.footer__bottom{
    margin: 40px 0 15px;
    background: #151515;
}
.footer__bottom p{
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    padding: 18px 0;
}

.mt--50{
    margin-top: 50px;
}
.pr-not-last:not(:last-child) {
    padding-right: 38px;
}