.product-detail-admin {
    flex: 4;
    padding: 20px;
    max-width: 99.1%;

    & .productTitle {
        display: inline-block;
        margin: -14px 0 0 18px;
        font-size: 1.9rem;
        color: var(--gray-color);
        font-weight: 800;
    }

    & .fee-line {
        width: 13px;
        height: 0.5px;
        background-color: #000;
    }

    & .productInfoKey {
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--gray-color);
    }

    & .productAddButton {
        width: 80px;
        border: none;
        padding: 5px;
        background-color: teal;
        color: white;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    & .productTop {
        display: flex;
    }

    & .productTopLeft,
    & .productTopRight {
        flex: 1;
    }

    & .productTopRight,
    & .productTopLeft {
        padding: 20px;
        margin: 20px;
        -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    }

    & .productInfoImg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
    }

    & .productInfoTop {
        display: flex;
        align-items: center;
    }

    & .productName {
        color: var(--gray-color);
        font-weight: 600;
        font-size: 1.4rem;
    }

    & .productInfoBottom {
        margin-top: 10px;
    }


    & .productInfoItem {
        max-width: 450px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 8px;
    }

    & .productInfoValue {
        font-weight: 500;
        font-size: 1.2rem;
        color: var(--gray-color);
    }

    & .productBottom {
        padding: 20px;
        margin: 20px;
        -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    }

    & .productForm {
        display: flex;
        justify-content: space-between;
    }

    & .productFormLeft {
        display: flex;
        flex-direction: column;
    }

    & .userUpdateItem>label {
        margin-bottom: 10px;
        color: var(--gray-color);
        font-weight: 600 !important;
        display: block;
    }

    & .userUpdateItem>input {
        margin-bottom: 10px;
        border: none;
        outline: none;
        padding: 5px;
        border-bottom: 2px solid gray;
        transition: all ease-out 0.25s;
        width: calc(100% + 155px);

        &:focus {
            border-bottom: 2px solid var(--primary-color-blue);
            filter: brightness(1.2);
        }
    }

    & .productFormLeft>select {
        margin-bottom: 10px;
    }

    & .productUploadImg {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        object-fit: cover;
        margin-right: 20px;
    }

    & .productFormRight {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    & .productUpload {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        & input {
            color: #fff;

            &::-webkit-file-upload-button {
                font-size: 1.3rem;
                color: gray;
                font-weight: 700;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }
    }

    & .productButton {
        border: none;
        padding: 5px;
        border-radius: 5px;
        background-color: var(--primary-color-blue);
        color: white;
        font-weight: 600;
        cursor: pointer;
        width: 50%;
        height: 50px;
        position: relative;
        top: 225px;
        right: -53px;
        text-transform: uppercase;
    }
}